.container {
  margin: 50px auto;
  max-width: 700px;
}

.card-weather {
  border: none;
}

form {
  display: inline;
}

#search-submit,
#current-button {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
}

#search-submit {
  margin: 0 20px;
}

#search-submit:hover,
#current-button:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}

.card-main-weather {
  margin: 20px auto;
  border: none;
}

.card-body-weather {
  background-image: linear-gradient(
    to top,
    rgb(132, 160, 202) 0%,
    #fef9d7 100%
  );
  border-radius: 10px;
}

.heading {
  font-weight: 400;
  font-size: 25px;
}

.heading-with-date {
  font-weight: 300;
  font-size: 18px;
}

#description {
  font-weight: 300;
  font-size: 18px;
}

#temperature-line {
  font-size: 35px;
}

.units {
  font-size: 17px;
  position: relative;
  top: -11px;
}
#celsius,
#fahrenheit {
  color: rgb(92, 139, 209);
}

.image-weather {
  font-size: 60px;
}

#bar-with-other-info {
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
}

.other-info {
  padding: 0;
}

.fa-temperature-high {
  color: red;
}
.fa-temperature-low {
  color: blue;
}

.row-container {
  padding: 0 15px;
}

.day {
  text-align: center;
  border-radius: 4px;
}

.day:hover {
  transition: all 150ms linear;
  background-color: white;
}
footer {
  font-size: small;
}

a {
  color: rgb(92, 139, 209);
}

a:hover {
  text-decoration: none;
}
