.container {
  margin: 50px auto;
  max-width: 700px;
}

body {
  font-family: "Literata", serif;
}

.card-weather {
  border: none;
}

form {
  display: inline;
}

#search-submit,
#current-button {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
}

#search-submit {
  margin: 0 20px;
}

#search-submit:hover,
#current-button:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}

.card-main-weather {
  margin: 20px auto;
  border: none;
}

.card-body-weather {
  background-image: linear-gradient(
    to top,
    rgb(132, 160, 202) 0%,
    #fef9d7 100%
  );
  border-radius: 10px;
}

#city,
#country {
  font-weight: 400;
  font-size: 25px;
}

.heading-with-date,
#description {
  font-weight: 300;
  font-size: 17px;
}

#description:first-letter {
  text-transform: capitalize;
}

#image-weather {
  width: 100px;
}

#number {
  font-size: 35px;
}

.units {
  font-size: 17px;
  position: relative;
  top: -11px;
}

.celsius,
.fahrenheit {
  color: rgb(92, 139, 209);
}

.active {
  color: black;
}
.active:hover {
  text-decoration: none;
  cursor: default;
  color: black;
}

/*added flexbox */

.bar-with-other-info {
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.other-info {
  padding: 0;
  display: inline;
  flex: 1;
  align-self: baseline;
}

.sun-sunrise,
.sun-sunset {
  font-size: 29px;
  position: relative;
  top: 8px;
}

.other-hours {
  padding: 0;
  margin: 0;
  list-style: none;
}

.other-hour {
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 16px;
}

.other-hour:hover {
  transition: all 150ms linear;
  background-color: white;
}

.other-hour img {
  display: block;
  margin: 0 auto;
  width: 60px;
}

footer {
  font-size: small;
}

footer a {
  color: rgb(92, 139, 209);
}

footer a:hover {
  text-decoration: none;
  color: rgb(19, 78, 165);
}
