.container {
  margin: 50px auto;
  max-width: 700px;
}

.card-weather {
  border: none;
}

#search-submit {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
  margin: 0 20px;
}

#search-submit:hover,
#currentButton:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}

form {
  display: inline;
}

#currentButton {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
}

.card-main-weather {
  margin: 20px auto;
  border: none;
}

.card-body-weather {
  background-image: linear-gradient(to top, rgb(92, 139, 209) 0%, #fef9d7 100%);
  border-radius: 10px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

sup {
  color: rgb(92, 139, 209);
  font-size: 22px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
}

a {
  color: rgb(92, 139, 209);
}

a:hover {
  text-decoration: none;
}

.image-weather {
  font-size: 110px;
}

#barWithOtherInfo {
  padding: 15px 0 0 0;
}
.fa-temperature-high {
  color: red;
}
.fa-temperature-low {
  color: blue;
}
ul {
  list-style: none;
  padding: 0;
}

footer {
  font-size: small;
}
